{
  "branches": [
    "+([0-9])?(.{+([0-9]),x}).x",
    "main"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    [
      "@semantic-release/exec", 
      {
        "prepareCmd": "tag=\"v${nextRelease.version}\" yq eval '.image.tag = strenv(tag)' ./charts/serial-gateway/values.yaml --inplace"
      }
    ],
    [
      "@semantic-release/git", 
      {
        "assets": [ "./charts/serial-gateway/values.yaml" ],
        "message": "chore(release): ${nextRelease.version}  \n\n${nextRelease.notes}"
      }
    ]
  ],
  "repositoryUrl": "https://github.com/tonygilkerson/serial-gateway.git"
}
